<div class = "main_chat_top">
  <div class="chat_left">
    <a href="#">hogefuga</a>
  </div>
  <div class="chat_right">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class = "main_chat_middle">
  <div class="message">
    <div class="upper_message">
      <div class="message_user">
        <p>Tom</p>
      </div>
      <div class="message_date">
        <p>2020/3/31(Wed)12:32:42</p>
      </div>
    </div>
    <div class="message_content">
      <p>おはよう</p>
    </div>
  </div>
    <div class="message">
    <div class="upper_message">
      <div class="message_user">
        <p>Tom</p>
      </div>
      <div class="message_date">
        <p>2020/3/31(Wed)12:32:42</p>
      </div>
    </div>
    <div class="message_content">
      <p>おはよう</p>
    </div>
  </div>

</div>
<div class = "form">
  <div class="form_input">
    <input class="form_message" placeholder= "type a message">
    <label class="form_image">
      <span class="image_file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form_submit" type="submit" value="送信">
</div>
