<div class= "side_top">
  <div class = "side_top_name">
    <%=link_to current_user.name, edit_user_path(current_user.id), {class: "user_name"}%>
  </div>
  <div class = "side_bottom_chat" >
    <%=link_to "チャットを作成する", "", {class: "make_chat"}%>
  </div>
</div>
<div class= "side_bottom">
  <div class="room_index">
    <a href="#">techroom1</a>
  </div>
    <div class="room_index">
    <a href="#">techroom2</a>
  </div>
</div>
