<div class= "side_top">
  <div class = "side_top_name">
    <%=link_to current_user.name, edit_user_path(current_user.id), {class: "user_name"}%>
  </div>
  <div class = "side_bottom_chat" >
    <%=link_to "チャットを作成する", new_room_path, {class: "make_chat"}%>
  </div>
</div>
<div class= "side_bottom">
  <% current_user.rooms.each do |room|%>
    <div class="room_index">
      <%=link_to room.name, room_messages_path(room) %>
    </div>
  <%end%>
</div>
